div{
    margin: auto;
    text-align: center;
}
h1{
    margin-left: auto;
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-decoration: underline rgb(0, 102, 255);
    color: rgb(3, 0, 103);
    background-color: aqua;
}
h2{
    margin-left: auto;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline rgb(0, 102, 255);
    color: rgb(3, 0, 103);
    font-weight: 900;
    background-color: aqua;
}
body{
    background-image: url('motherboard.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 150px;
}